{{!-- views/auth/signup.hbs --}}

<div id="form">
  <h2>Signup</h2>
  <form action="/signup" method="POST">

    <label> Username
      <input type="text" name="username" placeholder="ironhacker" value="{{username}}" required />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="********" value="{{password}}" required />
    </label>

    <button type="submit" class="btn btn-success">Create account</button>

    {{!-- error message will be added here --}}
  </form>
  <div>
    {{#if errorMessage}}
    <h6 class="text-danger">{{errorMessage}}</h6>
    {{/if}}
  </div>
</div>