{{!-- views/auth/signup.hbs --}}

<div id="form">
  <form action="/signup" method="POST">
    <div class="form-group">
      <label> Username </label>
      <input type="text" class="form-control" name="username" placeholder="ironhacker" value="{{username}}" required />
    </div>
    <div class="form-group">
      <label> Password </label>
      <input type="password" class="form-control" name="password" placeholder="********" value="{{password}}"
        required />
    </div>
    <br>
    <div class="form-group">
      <button type="submit" class="btn btn-success">Create account</button>
      {{#if errorMessage}}
      <h6 class="form-text text-danger">{{errorMessage}}</h6>
      {{/if}}
    </div>
  </form>

</div>