

{{#if userInSession}}
  <h2>Welcome to your profile page: {{ userInSession.username }}!</h2>

  <a href="/profile" type="submit" class="btn btn-secondary">Reload the page</a>

  <h2> This is a private page</h2>
  <div class="imgContainer">
    <img src="{{img}}" alt="gif">
  </div>
    
{{else}}
  
  <br><p>There is no loged in user!</p>

{{/if}}
