

{{#if userInSession}}
  <h2>Welcome to your profile page: {{ userInSession.username }}!</h2>

  <a href="/profile" type="submit" class="btn btn-secondary">Reload the page</a>

    
{{else}}
  
  <br><p>There is no loged in user!</p>

{{/if}}
