

{{#if userInSession}}
  <h2>Welcome to your profile page: {{ userInSession.username }}!</h2>
  <button>
    <a href="/userProfile" class="btn btn-secondary">Reload the page</a>
  </button>
{{else}}
  
  <br><p>There is no loged in user!</p>

{{/if}}
